.list-group-item-action {
  border:none;
  background:none;
  color:;
}
.list-group-item-action.active {
  background:#007bc4;
  border-left: solid 5px #cbe6ff;
}
.list-group-item-action:hover {
  background:#007bc4;
  color:#fff;
}
.list-group-item-action {
  width: 100%;
  text-align: inherit;
  color:#cbe6ff;
  background:#007bc4;
}